<!DOCTYPE html>
<html>


<head>
    <title>home realtime NodeJS demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/socket.io.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/home.js"></script>
</head>

<body>

    <div class="container ">
        <div class="row mt-5 ">
            <div class="col-sm-6">
                <div class="btn btn-info btn-block nut1">Tragn web</div>
            </div>
            <div class="col-sm-6">
                <input type="number" name="" id="input1">
            </div>


        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="btn btn-info btn-block nut2">ESP</div>
            </div>
            <div class="col-sm-6">
                <input type="number" name="" id="input2">
            </div>


        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>